---
import Layout from '../layouts/Layout.astro';
import {
  HEADER_CONTENT,
  HOME_CONTENT,
  FIRST_SECTION,
  SECOND_SECTION,
  SECTIONS_IMAGES,
  SECTION_TESTIMONIALS,
  FOOTER_CONTENT,
  CARDS_IMAGES,
  CONFIG,
} from '@content';
import HeaderMobile from '@components/layout/HeaderMobile.astro';
import Home from '@components/sections/Home.astro';
import Section from '@components/sections/Section.astro';
import SectionImage from '@components/sections/SectionImage.astro';
import Card from '@components/ui/Card.astro';
import CardImage from '@components/ui/CardImage.astro';
import Footer from '@components/layout/Footer.astro';
import Header from '@/components/layout/Header.astro';
---

<Layout config={CONFIG}>
  <Header {...HEADER_CONTENT} />
  <HeaderMobile {...HEADER_CONTENT} />
  <Home {...HOME_CONTENT} />
  <Section {...FIRST_SECTION} />
  <Section {...SECOND_SECTION} />
  <div class="grid grid-cols-1 md:grid-cols-2">
    {SECTIONS_IMAGES.map((item) => <SectionImage {...item} />)}
  </div>
  <section class="bg-primary-white px-5 md:px-10 lg:px-20 py-40 flex flex-col gap-20">
    <h6 class="font-frauces font-bold uppercase text-center text-xl text-secondary-blue tracking-[8px]">
      {SECTION_TESTIMONIALS.title}
    </h6>
    <div class="grid grid-cols-cards gap-10 items-center justify-center">
      {SECTION_TESTIMONIALS.cards.map((item) => <Card {...item} />)}
    </div>
  </section>
  <div class="grid grid-cols-2 md:grid-cols-4">
    {CARDS_IMAGES.map((item) => <CardImage {...item} />)}
  </div>
  <Footer {...FOOTER_CONTENT} />
</Layout>
